/* src/components/Leaderboard.css */
.leaderboard-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .leaderboard-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .leaderboard-table th,
  .leaderboard-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .leaderboard-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .leaderboard-table th {
    background-color: #cc0000;
    color: white;
  }
  